@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary {
    @apply bg-gradient-to-r from-blue-400 via-blue-400 to-blue-400;
  }
}

.animation {
  animation: popUp 2s;
  transition: ease-in-out;
}

@keyframes popUp {
  0% {
    transform: translateY(500px);
  }

  100% {
    transform: translateY(0);
  }
}


.mobiledrawin {
  animation: slide2 2s;
  transition: ease-in;
}

@keyframes slide2 {
  0% {
    transform: translatex(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

.mobiledrawout {
  animation: slide 2s;
  transition: ease-in;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-500px);
  }
}

::-webkit-scrollbar{
  width: 0;
}